<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootFolderPathGallery" value="D:\Projects\Gallery\" />
    <add key="RootFolderPath" value="D:\Projects\" />
    <add key="ImageExtensions" value="*.jpg,*.JPG,*.gif,*.GIF,*.png,*.PNG" />
  </appSettings>
</configuration>